<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GreenPasture.Master.cs" Inherits="MxPOS10.Styles.Greenpasture.Greenpasture" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>MxPOS</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="default.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->

</head>
<body>
    <form id="form1" runat="server">

    <div id="header-wrapper">
	    <div id="header">
		    <div id="logo">
			    <h1><a href="#">MXPOS</a></h1>
		    </div>
		    <div id="menu">
            <asp:PlaceHolder ID="phlMenu" runat="server"></asp:PlaceHolder>
    			<!--
                <ul>
				    <li> <a href="PaginaEmisor.aspx" accesskey="1" title="">EMISORES</a></li>
				    <li> <a href="PaginaReceptor.aspx" accesskey="2" title="">RECEPTORES</a></li>
				    <li>                            <a href="#" accesskey="3" title="">PRÓXIMAMENTE</a></li>
				    <li>                            <a href="#" accesskey="4" title="">PRÓXIMAMENTE</a></li>
				    <li>                            <a href="#" accesskey="5" title="">PRÓXIMAMENTE</a></li>
			    </ul>
                -->
		    </div>
	    </div>
    </div>

    <div id="contentplaceholder1" class="contentplacetholder1">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>

    <div><br /><br /></div>

    <div id="wrapper" class="contentplacetholder2">
    	<div id="page-wrapper">
		    <div id="page">
    			<div id="wide-content">
				    <div>
    					<h2>Bienvenido a MxPOS</h2>
					    <p>Navega entre los módulos del sistema usando los menús de la parte superior.</p>
					    <p>Let&#39;s do this!</p>
					    <p class="button-style"><a href="#">Más detalles</a></p>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>


    <div id="footer" class="container">
    	<p>Copyright (c) 2013 codeviewmx.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
    </div>

    </form>
</body>
</html>
